<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaultHref="/tabs/starships">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ starship?.name }}</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>

  <ion-list no-lines>
    <ion-list-header>
      Starship Details:
    </ion-list-header>
    <ion-item *ngIf="starship">
      <ion-card-content>
        <p>MGLT: {{starship.MGLT}}</p>
        <p>Consumables: {{starship.consumables}}</p>
        <p>Length: {{starship.length}}</p>
        <p>Manufacturer: {{starship.manufacturer}}</p>
        <p>Passengers: {{starship.passengers}}</p>

      </ion-card-content>
    </ion-item>
  </ion-list>
</ion-content>